<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
    <div class="container">
        <div class="cover">
          <h1>Check IP</h1>
          <form id="check_ip" class="flex-form" action="/" method="POST">
            <label for="from">
              <i class="ion-location"></i>
            </label>
            <input type="search" name="ipform" placeholder="Enter the IP here">
            <button type="submit" class="g-recaptcha" data-sitekey="{{ site_key }}" data-callback='onSubmit' data-action='submit'>Check</button>
          </form>
          {% if message_response %}
            <h2 id="text">{{ message_response }}</h2>
          {% endif %}
          <div id="footer">
            <span>
              Last update: {{ last_update }}
            </span>
          </div>
        </div>
      </div>
      
</body>
</html>